[Unit]
Description=Wake-on-LAN enabler
Wants=network-online.target
After=network.target network-online.target

[Service]
Required-Start: $all
Type=idle
User=root
ExecStart=/usr/bin/wolenabler.sh

[Install]
WantedBy=multi-user.target
